.container__small-card {
  width: 500px;
}
.container__small-card__content{
  display: flex;
  flex-direction: row;
}
.container__small-card__separator {
  margin-top: 10px;
  margin-bottom: 10px;
}
.small-card__pic {
  width: 40%;
  display: flex;
}
.small-card__pic > img{
  width: 100%;
  min-width: 200px;
  margin-right: 20px;
}
.small-card__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  margin-left: 20px;
}
